/* DashboardPage.css */
.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

.dashboard-content {
    width: 100%;
}

.welcome-text {
    margin-bottom: 20px;
}

.rating-box {
    border-radius: 8px;
    border: 1px solid #1976d2;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.rating-label {
    margin-bottom: 8px;
}

.searching-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.opponent-found-text,
.searching-text {
    margin-left: 8px;
}

.cancel-button {
    margin-left: 16px;
}

.switch-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.time-control-switch,
.wager-size-switch {
    width: 100%;
}

.snackbar {
    background: green;
    color: white;
}

.sidebar-container {
    width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar-container {
        margin-top: 20px;
    }
}
