.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    padding: 8px;
}

.dashboard-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.welcome-text {
    margin-bottom: 20px;
}

.rating-box {
    border-radius: 8px;
    border: 1px solid #1976d2;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    max-width: 200px;
}

.searching-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.opponent-found-text,
.searching-text {
    margin-left: 8px;
}

.cancel-button {
    margin-left: 16px;
}

.switch-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.time-control-switch,
.wager-size-switch {
    width: 100%;
}

.snackbar {
    background: green;
    color: white;
}


.sidebar-container {
    width: 50%; /* Initial width for large screens */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    position: sticky;
    top: 0;
    height: 100vh; /* Adjust height to fit the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

/* Media query for small screens */
@media (max-width: 600px) {
    .dashboard-content {
        flex-direction: column;
    }

    .sidebar-container {
        width: 100%; /* Full width for small screens */
        margin-top: 20px;
    }
}