/* DashboardContent.css */
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.searching-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add more styles as needed */
}

