@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Light mode */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}